<!DOCTYPE html>
<html>
  <head>
<meta name="description" content="Los Angeles City Roleplay | Offical Website" />
  <link
    rel="icon"
    href="views/lacrpbluelogo.png"
    type="image/png"
  />
  <title>Los Angeles City Roleplay</title>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
<link href="/public/style.css" rel="stylesheet" type="text/css">
  </head>

<body>
  <div class="center">
<p style="font-family: 'Montserrat', sans-serif;">We're working to build something great here...</p>
</div>
<div class="center">
<img src="views/lacrpbluelogo.png"  
</div>
<div>
  <font size="5">
  <a href="https://dlacrp.tsscac.gq">
  <p class="discbtn"> LACRP Discord </p>
  </a>
  </font>
</div>

  <div style="margin-top: 95px;">
<p>Software is &copy; The Spades Software Collective and Consortium <br> <br> Media is &copy; Los Angeles City Roleplay Community
  <br> 
    <a href="https://github.com/spadescollective/lacrpweb"> Github </a>
    <br>
    <a href="/licenses"> Licenses </a>
      

</p>
  </div>
</body>
  
  
  
  </html>
